[project]
	description = Jetbrains IntelliJ IDEA based key bindings for the Atom editor.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Angel Balcarcel (angelcabo)
[access "refs/for/refs/*"]
	read = group user/Angel Balcarcel (angelcabo)
	push = group user/Angel Balcarcel (angelcabo)
	label-Code-Review = -2..+2 group user/Angel Balcarcel (angelcabo)
	label-Verified = -1..+1 group user/Angel Balcarcel (angelcabo)
	rebase = group user/Angel Balcarcel (angelcabo)
	removeReviewer = group user/Angel Balcarcel (angelcabo)
	submit = group user/Angel Balcarcel (angelcabo)
[access "refs/heads/*"]
	read = group user/Angel Balcarcel (angelcabo)
	create = group user/Angel Balcarcel (angelcabo)
	push = +force group user/Angel Balcarcel (angelcabo)
	pushMerge = group user/Angel Balcarcel (angelcabo)
[access "refs/tags/*"]
	push = group user/Angel Balcarcel (angelcabo)
	push = +force group user/Angel Balcarcel (angelcabo)
